/* Empty. Add your own CSS if you like */
.scroll {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.menu-content.active {
    -webkit-transform: none;
    transform: none;
    box-shadow: none;
}
.menu-item-wrapper{
    border-right: 1px solid #ddd;
}
.item-note{
    color:#ff0000;
}

.supply-channel .item-note.active{
    color:#007700;
}

.need-channel .item-note.active{
    color:red;
}
.item-supply-match {
    border-left: 4px solid red;
}
.item-need-match {
    border-left: 4px solid green;
}
.popup-container .popup{
    width: 300px;
}
.popup-head{
    border-color: #0c63ee;
    background-color: #387ef5;
}
.popup-title{
    color: #fff!important;
}

.bar.item-input-inset .item-input-wrapper input {
    width: 100%;
}

.search-wrapper-light {
    border-bottom: 2px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    color: #ffffff;
}

.button-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.button-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.button-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.need-channel, .need-channel ion-item.item {
   background-color:#FFC2B2;
}
.need-channel .item-input, .need-channel textarea {
   background-color:#FFEBE6;
}
.supply-channel, .supply-channel ion-item.item {
    background-color:#CCFFCC;
}
.supply-channel .item-input, .supply-channel textarea {
   background-color:#E6FFE6;
}
.
pre {
    font-size:14px;
}
#addItems{
  position:fixed;
  right:2px;
  bottom:10px;
  z-index:999
}
.round-button {
    display:block;
    width:50px;
    height:50px;
    line-height:46px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background: #ff0000;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    cursor: pointer;
    position: absolute;
    bottom:5px;
    right:10px;
}
.round-button:hover{
  background: #660000;
}
.round-button:active{
  opacity: 0.5;
}
.add-button-wrapper{
  margin-bottom: 60px;
}
.buttons-wrapper button{
  border:0px;
}
.hide-button{
  visibility: hidden;
}

/* Side Menu */
.item-location-select {
  cursor: pointer;
}

/* District Selector */
.current-districts-label {
  vertical-align: middle;
}

.current-districts-container {
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
}

.current-districts-container>.button {
  margin-right: 5px;
  margin-bottom: 3px;
}
