/* Empty. Add your own CSS if you like */
.scroll {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.menu-content.active {
    -webkit-transform: none;
    transform: none;
    box-shadow: none;
}
.menu-item-wrapper{
    border-right: 1px solid #ddd;
}
.item-note{
    color:#ff0000;
}
.item-note.active{
    color:#007700;
}
.popup-container .popup{
    width: 300px;
}
.popup-head{
    border-color: #0c63ee;
    background-color: #387ef5;
}
.popup-title{
    color: #fff!important;
}

.bar.item-input-inset .item-input-wrapper input {
    width: 100%;
}

.search-wrapper-light {
    border-bottom: 2px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    color: #ffffff;
}

.button-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.button-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.button-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.need-channel, .need-channel textarea {
    background-color:#FFFAFA; 
}
.supply-channel, .supply-channel textarea {
    background-color:#FCFFF0;
}

pre {
    font-size:14px;
}
