<ion-view view-title="{{item.description.title}}">
  <ion-content>
    <div class="card">
	  <div class="item item-divider  item-text-wrap">
	    {{item.description.title}}

		      <span class="item-note" ng-class="item.active?'active':''">
	            {{item.active?"available":"not available"}}
	          </span> 
	  </div>
	  <div class="item item-text-wrap">
	    {{item.description.detail}}
	  </div>
	  <div class="item item-divider item-text-wrap">
	   {{item.location.tole}}, {{item.location.district}}
	  </div>
	</div>
  </ion-content>
</ion-view>
