<ion-view view-title="About">
<ion-content>
<div class="card">
    <h1 style="padding:10px;">About</h1>
    <p style="padding:10px;">
    Kaha.co as name suggests helps you find help and supplies. You can go through different categories on sidemenu and limit your results by location (districts and tole names). <br>
    If you are providing or know someone who is providing any help or supplies please use Add a supply/resource to add it.<br>
    Please be as descriptive as possible.
    </p>
    <div class="item item-text-wrap">
        <a href="https://www.facebook.com/kahaco?notif_t=fbpage_fan_invite">Kaha.co Facebook Page</a>
        <p>
        Please post your comments / requests to our facebook page. We are actively working around the clock to make kaha.co an useful tool.
        </p>
    </div>

</div>
<div style="padding:10px" ng-hide="isloggedin">
    <input type="text" ng-model="submitdata.admincode" placeholder="enter your admin code"/>
    <button class="button-light" ng-click="signin()"> I am admin</button>
</div>
<div style="padding:10px" ng-show="isloggedin">
    <button class="button-light" ng-click="signout()"> Logout</button>
</div>
</ion-content>
</ion-view>
