<ion-view view-title="Edit Item">
  <ion-content>
    <ion-list>
    <label class="item item-input item-select">
        <div class="input-label">
          Supply Type
        </div>
        <select ng-model="selectedItem.type">
          <option ng-repeat="supply in supplytypes">{{supply}}</option>
        </select>
     </label>
      <label class="item item-input item-select">
        <div class="input-label">
          District
        </div>
        <select ng-model="selectedItem.location.district">
          <option ng-repeat="district in districts">{{district}}</option>
        </select>
     </label>
      <label class="item item-input" >
        <div class="input-label">
          Tole Name
        </div>
        <input type="text" name="tole" ng-model="selectedItem.location.tole" placeholder="Enter your tole name"/> 
     </label>
     <label class="item item-input" >
        <div class="input-label">
          Title
        </div>
        <input type="text" name="title" ng-model="selectedItem.description.title" placeholder="Enter title"/> 
     </label>
     <label class="item item-input" >
        <div class="input-label">
          Contact Name
        </div>
        <input type="text" name="contactname" ng-model="selectedItem.description.contactname" placeholder="Contact Name"/> 
     </label>
     <label class="item item-input" >
        <div class="input-label">
          Contact Number
        </div>
        <input type="text" name="contactnumber" ng-model="selectedItem.description.contactnumber" placeholder="Contact Number"/> 
     </label>
     <label class="item item-input" >
        <div class="input-label">
          Description
        </div>
       <textarea rows="5" type="text" name="description" ng-model="selectedItem.description.detail" placeholder="Enter detial description about the supply"></textarea> 
     </label>
     <button class="button button-block button-light" ng-click="submitChanges()">Submit</button>
    </ion-list>
  </ion-content>
</ion-view>