<ion-view view-title="{{item.description.title}}"  cache-view="false">
  <ion-nav-buttons side="right">
    <button class="button-light" ng-click="editItem()">Edit Item</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="card">
	  <div class="item item-divider  item-text-wrap">
		<span class="item-note" ng-class="selectedItem.active?'active':''">
	        <small>{{selectedItem.active?"available":"not available"}}</small><br>
	    </span> 
	    <h3>{{selectedItem.description.title}}</h3>
	    <p><small>{{selectedItem.location.tole}}, {{selectedItem.location.district}}</small></p>
	  </div>
	  <div class="item item-text-wrap">
	  	<p>Contact: {{selectedItem.description.contactname}}</p>
	  	<p>Number: {{selectedItem.description.contactnumber}}</p>
	    <p>Description: {{selectedItem.description.detail}}</p>	    
	  </div>
	  <div class="item text-center" ng-click="markHelpfull()" style="color:green">
	   	It's helpful
	   	<span class="item-note" style="color:green">{{stat.yes?stat.yes:0}}</span>
	  </div>
	  <div class="item text-center" ng-click="markAsUnavailable()" style="color:red">
	   	It's not helpful
	   	<span class="item-note" style="color:red">{{stat.no?stat.no:0}}</span>
	  </div>
	  <div class="item text-center" ng-click="requestRemove()" style="color:#f0ad4e">
	   	Submit a request to remove
	   	<span class="item-note" style="color:#f0ad4e">{{stat.removal?stat.removal:0}}</span>
	  </div>
	</div>
  </ion-content>
</ion-view>
