<ion-view view-title="{{item.description.title}}"  cache-view="false">
  <ion-nav-buttons side="right">
    <button class="button-light" ng-click="editItem()">Edit Item</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="card">
	  <div class="item item-divider  item-text-wrap">
		<span class="item-note" ng-class="selectedItem.active?'active':''">
	        <small>{{selectedItem.active?"available":"not available"}}</small><br>
	        <span style="color:green; font-size:20px;">
	        	<i class="icon ion-thumbsup" ></i><sub style="font-size:10px;">{{stat.yes}}</sub>
	        </span>
	        <span style="color:red; font-size:20px;">
	        	<i class="icon ion-thumbsdown" ></i><sub style="font-size:10px;">{{stat.no}}</sub>
	        </span>
	    </span> 
	    <h3>{{selectedItem.description.title}}</h3>
	    <p><small>{{selectedItem.location.tole}}, {{selectedItem.location.district}}</small></p>
	  </div>
	  <div class="item item-text-wrap">
	  	<p>Contact: {{selectedItem.description.contactname}}</p>
	  	<p>Number: {{selectedItem.description.contactnumber}}</p>
	    <p>Description: {{selectedItem.description.detail}}</p>	    
	  </div>
	  <div class="item">
	   	<button class="button  button-block button-success" ng-click="markHelpfull()">It's helpful</button>
	   	<button class="button  button-block button-danger" ng-click="markAsUnavailable()">It's not helpful</button>
	   	<button class="button  button-block button-warning" ng-click="requestRemove()">Submit a request to remove</button>
	  </div>
	</div>
  </ion-content>
</ion-view>
