<ion-view cache-view="false">
<ion-nav-title>
<div class="h1 title">{{selectedItem.type|ucfirst}}</div>
</ion-nav-title>
<ion-nav-buttons side="right">
<button class="button button-icon-left ion-edit" ng-click="editItem()"> Edit Item</button>
</ion-nav-buttons>
<ion-content data-tap-disabled="true" overflow-scroll="true">
<div class="card list">
    <div class="item item-divider  item-text-wrap {{selectedItem.channel}}-channel">
        <span class="item-note" ng-class="selectedItem.active?'active':''">
            <small>{{selectedItem.activeText}}</small><br>
        </span>
        <h3>
            [<span class="selectedItem.verified?'verified':'non-verified'">{{selectedItem.verified?'Verified':'Not Verified'}}]
            {{selectedItem.description.title}}  </span>
        </h3>
        <p><small>{{selectedItem.location.tole}}, {{selectedItem.location.district}}</small></p>

        <p><small>Updated: {{selectedItem.date.modified | date:'Y-m-d'}}</small></p>
    </div>
    <div class="item item-text-wrap item-body">
        <p><strong>Contact :</strong> {{selectedItem.description.contactname}}</p>
        <p><strong>Number :</strong> {{selectedItem.description.contactnumber}}</p>
        <p><strong>Description :</strong> <pre>{{selectedItem.description.detail}}</pre>
        </p>
    </div>

    <div class="item" ng-if="selectedItem.channel !== 'need'">
        <div style="color:green;">
            <button class="button button-small button-stable" ng-click="incrStat('yes')" ng-show="!isButtonDisabled('yes')">
                Report
            </button>
                <button class="button button-small button-stable" ng-click="decrStat('yes')" ng-show="isButtonDisabled('yes')">
                    Undo
                </button>
                <span style="color:green">{{stat.yes ? stat.yes : 0}} reported receiving help from here</span>
            </div>

            <div  style="color:red">
                <button class="button button-small button-stable" ng-click="incrStat('no')" ng-show="!isButtonDisabled('no')">
                    Report
                </button>
                <button class="button button-small button-stable" ng-click="decrStat('no')" ng-show="isButtonDisabled('no')">
                    Undo
                </button>
                <span style="color:red">{{stat.no ? stat.no : 0}} reported supply no longer available</span>
            </div>
        </div>
    <div class="item" ng-if="selectedItem.channel == 'need'">
        <div style="color:red;">
            <button class="button button-small button-stable" ng-click="incrStat('no_connection')" ng-show="!isButtonDisabled('no_connection')">
                Report
            </button>
                <button class="button button-small button-stable" ng-click="decrStat('no_connection')" ng-show="isButtonDisabled('no_connection')">
                    Undo
                </button>
                <span style="color:green">{{stat.no_connection ? stat.no_connection : 0}} reported no-contact</span>
            </div>

            <div  style="color:green">
                <button class="button button-small button-stable" ng-click="incrStat('yes')" ng-show="!isButtonDisabled('yes')">
                    Report
                </button>
                <button class="button button-small button-stable" ng-click="decrStat('yes')" ng-show="isButtonDisabled('yes')">
                    Undo
                </button>
                <span style="color:red">{{stat.yes ? stat.yes : 0}} reported need full-filled</span>
            </div>
        </div>
    </div>
    <div class="item" ng-show="isloggedin">
        <div class="item text-center" style="background-color:#ddd;">
            <fieldset><legend>Verification</legend>
            <p>Status: {{selectedItem.verified?'Verified':'Not Verified'}}
            <span ng-show="selectedItem.verified"><br/>
                Verified By : {{selectedItem.verified_by}} <br/>
                Verified On : {{itemdata.verification_date}}</span>
            </p>
            <div class="item item-input">
                <textarea rows="5" style="width:30" type="text" name="verification-comments" ng-model="itemdata.verification_comments" placeholder="Add comments"></textarea>
            </div>
            <br/>
            <button ng-click="verifyItem(true)" class="button button-small button-balanced">Mark as Verified</button>
            <button ng-click="verifyItem(false)" class="button button-small button-assertive">Mark as Not Verified</button>
            </fieldset>
            <br/><br/>
            <button ng-click="requestDelete()" class="button button-dark">Delete this item</button>
        </div>
    </div>
</ion-content>
</ion-view>
