<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content ng-class="$exposeAside.active?'active':''">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button ng-hide="$exposeAside.active">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-clear" menu-toggle="left" ng-hide="$exposeAside.active" ng-click="menuClicked()">
        <i class="icon ion-ios-arrow-left"></i> 
        MENU 
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Resources</h1>
    </ion-header-bar>
    <ion-content ng-class="$exposeAside.active?'menu-item-wrapper':''" >
      <ion-list>

        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/section/volunteer">
        <i class="icon ion-person-stalker"></i>
        Volunteers
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/section/food">
        <i class="icon ion-spoon"></i>
          Food
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/section/water">
        <i class="icon ion-waterdrop" style="color:blue;"></i>
        Water
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/section/blood">
        <i class="icon ion-waterdrop" style="color:red;"></i>
        Blood
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/section/shelter">
        <i class="icon ion-home"></i>
          Tent/Shelter
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/section/transportation">
        <i class="icon ion-model-s"></i>
        Transportation 
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/section/medical supplies">
        <i class="icon ion-medkit"></i>
          Medical Kits/Supplies
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/section/medical services">
          Medical Services
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/section/other contacts">
          Helpful Contacts
        </ion-item>

        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/about">
        <i class="icon ion-ios-information-outline"></i>
        About
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
