<ion-view view-title="{{name}}">
  <ion-content>
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
        <ion-list>
          <div class="bar bar-header item-input-inset">
              <ion-search placeholder="Type to search" filter="search"></ion-search>
          </div>

            <div class="item" ng-repeat="item in items | search:search.value" ng-click="loadItem(item)">
              <h2>{{item.description.title}}</h2>
              <p>
                  {{item.location.district}} , {{item.location.tole}}

                  <span class="item-note"  ng-class="item.active?'active':''">
                    {{item.active?"available":"not available"}}
                  </span>
              </p>
            </div>
        </ion-list>
  </ion-content>
</ion-view>
